* { box-sizing: border-box; }
html, body {
  margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; background-color: #282828;
}
body {
  display: flex; flex-direction: row; justify-content: center; align-items: flex-start; padding: 20px;
}
#cnv { max-width: 900px; width: 100%; aspect-ratio: 4/3; background-color: #323232; }
